body {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.row {
  display: flex;
  gap: 10px;
  width: 600px;
}

.row input {
  padding: 10px 15px;
}

.row input[type=text] {
  flex: 1;
}

.elements {
  margin-top: 15px;
}

.elements label {
  width: 600px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.elements label input {
  margin-right: 10px;
}

.elements label button {
  margin-left: 5px;
}

.info {
  width: 600px;
  font-size: 18px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  width: 600px;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  gap: 10px;
}